# Chapter 8

## 8.3.2

In [1]:
import pandas as pd   #A

transactions = pd.read_csv("transactions.csv")    #B
transactions.head()

#A Import the pandas library
#B Import the transactions dataset and display the first 5 rows

,transaction_id,name,email,phone,address,purchased_item,price
0,t-834207,Keith White,keith.white@example.com,001-490-356-3466x219,"PSC 7000, Box 0663, APO AP 61947",Cool tablet,627
1,t-194507,Nicole Weaver,nicole.weaver@example.com,(581)642-5743,"Unit 3524 Box 6820, DPO AE 31360",Retro mobile phone,584
2,t-310414,Joseph Perez,joseph.perez@example.com,297.447.3481,"50270 Graham Alley, Lake Brittany, NH 15851",Yet another laptop,405
3,t-947522,Cheryl Salinas,cheryl.salinas@example.com,945.248.4798x675,"51407 Jones Drive Suite 478, Wattsstad, CA 53037",Cool tablet,537
4,t-156647,Monica Foster,monica.foster@example.com,(738)712-8058x1408,"81902 Roberts Route Suite 280, Port Andrewmout...",Retro mobile phone,943

In [ ]:
!pip install usaddress   #A
#A Install usaddress library

In [ ]:
import usaddress    #A

def parse_addresses(address):    #B
    try:    #C
        parsed = usaddress.parse(address)
        parsed_dict = {item[1]: item[0] for item in parsed}
        city = parsed_dict.get("PlaceName", "")    #D
        state = parsed_dict.get("StateName", "")
        zip_code = parsed_dict.get("ZipCode", "")
        return city, state, zip_code
    except:
        return"  ","" #E

transactions["city"], transactions["state"], transactions["zip_code"] = zip(
    *transactions["address"].apply(parse_addresses)
)    #F

transactions.head()    #G

#A Import usaddress library
#B Create a function to parse the address column
#C Add error handling in case addresses cannot be parsed (a common issue)
#D Extract individual geographical data points of interest from the parsed dictionary
#E If an address cannot be parsed, return an empty string
#F Create 3 new columns with city, state, and zip code by applying the function to the address
#G Display the first 5 rows

In [ ]:
transactions.drop(["name", "phone"], axis=1, inplace=True)    #A
#A Drop the address column

In [ ]:
import hashlib    #A

def hash_email(email):    #B
    return hashlib.sha256(email.encode()).hexdigest()

transactions["email_hash"] = transactions["email"].apply(hash_email)    #C

transactions.head()    #D
#A Import the hashlib library
#B Write a function to hash the email column's values 
#C Apply the function to a new column
#D Display the first 5 rows

In [ ]:
emails = transactions[["email", "email_hash"]]    #A
transactions.drop(["email"], axis=1, inplace=True)    #B
transactions.head()    #C

#A Save the email and its hash in a separate dataframe
#B Drop the email column from transactions
#C Display the first 5 rows of transactions